<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="memoQResourcesAPIURL" value="https://Mail.edimart.hu:8081/memoqserverhttpapi/v1"/>
    <add key="userLogin" value="CoolTool"/>
    <add key="userPassword" value="hj/7k2#WJi8934u"/>

    <!--<add key="memoQResourcesAPIURL" value="https://localhost:8081/memoqserverhttpapi/v1"/>
    <add key="userLogin" value="adm"/>
    <add key="userPassword" value="111"/>-->

    
    
  </appSettings>

</configuration>
